<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "navigation/navigation.html" . }}
        <div id="top" class="container">
            <div class="row" id="content-main">
                {{ range where .Data.Pages "Section" "affair"}}
                  <div class="col-md-4">
                    <div class="affair-card">
                      <div class="card-header">{{ .Title }}</div>
                      <div class="card-body">{{ .Content }}</div>
                      <div class="card-footer"><small class="text-muted">更新于{{ .Date.Format "2006-01-02"}}</small></div>
                    </div>
                  </div>
                {{ end }}
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "foot.html" . }}
    </body>
</html>
