<footer class="footer">
    <div class="container">
        <div class="row">
            {{ partial "widgets/footer/links.html" . }}
            {{ partial "widgets/footer/social.html" . }}
        </div>
        <div class="row">
            <div class="col-md-12">
              <address>
                <strong>福建厦门市厦门大学化学化工学院</strong> 邮编：361005 <abbr title="Phone">电话：</abbr>0592-2183548,2183549;　Fax：0592-2183548; Email: yqzx@xmu.edu.cn
              </address>
                <p>
              Copyright © 厦门大学化学化工学院仪器中心 版权所有 2019 All Rights Reserved 设计者：冯柳宾
                </p>
            </div>
        </div>
    </div>
</footer>
